html{
    width: 100%;
    height: 100%;
    font-size: 20px;
    margin: 0%;
    padding: 0%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d1f2eb;
    font-family: 'poppins';
}

p{
    margin: 0em;
    padding: 0em;
}

input{
    border-radius: 0.4em;
    border: solid 0.1em #3ca194;
    height: 2em;
    width: 52em;
}

textarea{
    border-radius: 0.4em;
    border: solid 0.1em #3ca194;
    height: 10em;
    width: 50em;
    padding: 1em;
}

/*Menu*/

#contenedor{
    background-color: white;
    height: 80%;
    width: 80%;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.168) 0em 0.04em 0.8em 0.3em;
}

#menu{
    margin: 0.7em;
    width: 30%;
    border-radius: 1em;
    background-color: rgba(204, 219, 218, 0.74);
    width: 30%;
}

#logo{
    width: 100%;
    text-align: center;
    color: #84bbba;
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 25%;
    margin-bottom: 2em;
}

.opcion{
    display: flex;
    flex-direction: column;
    margin-left: 22%;
    margin-top: 2em;
    background-color: #3ca194;
    border-radius: 1em;
    width: 13em;
    height: 3em;
    text-align: center;
    justify-content: center;
    color: white;
}

.opcion a{
    text-decoration: none;
    color: white;
}

.opcion:hover{
    transform: translateY(-0.3em);
    box-shadow: 0 0.8em 0.8em rgba(0, 0, 0, 0.3);
}

/*Contenido*/

#contenido{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2em;
}

#textoAdvertencia{
    margin: 3em;
    background-color: orange;
    border-radius: 1em;
    padding: 1em;
    display: flex;
}

#iconoAlerta{
    height: 4em;
    align-self: center;
    margin-right: 1em;
}

#credito{
    margin-top: 1em;
}

#textoCredito{
    font-size: 0.6em;
}

#imagenGit{
    height: 1.2em;
    width: 1em
}

#contenido a{
    width: 1em;
}

/*Configuración correo*/

#titulo{
    font-size: 1.5em;
    margin-bottom: 1em;
}

.formularioCorreo{
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    margin-bottom: 2em;
}